In [311]:
# from google.colab import drive
# drive.mount('/content/drive')

In [312]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm

%matplotlib inline

import warnings
warnings.filterwarnings("ignore", category = RuntimeWarning)

train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
submission = pd.read_csv('./data/sample_submission.csv')
age_gender = pd.read_csv('./data/age_gender_info.csv')

In [313]:
train.shape, test.shape

((2952, 15), (1022, 14))

In [314]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [315]:
test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0

In [316]:

train.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '자격유형',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수', '등록차량수'
]

test.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '자격유형',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수'
]

In [317]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [318]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   단지코드      2952 non-null   object
 1   총세대수      2952 non-null   int64
 2   임대건물구분    2952 non-null   object
 3   지역        2952 non-null   object
 4   공급유형      2952 non-null   object
 5   전용면적      2952 non-null   float64
 6   전용면적별세대수  2952 non-null   int64
 7   공가수       2952 non-null   float64
 8   자격유형      2952 non-null   object
 9   임대보증금     2383 non-null   object
 10  임대료       2383 non-null   object
 11  지하철       2741 non-null   float64
 12  버스        2948 non-null   float64
 13  단지내주차면수   2952 non-null   float64
 14  등록차량수     2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [319]:
train.describe()

,총세대수,전용면적,전용면적별세대수,공가수,지하철,버스,단지내주차면수,등록차량수
count,2952.000000,2952.000000,2952.000000,2952.000000,2741.000000,2948.000000,2952.000000,2952.000000
mean,886.661247,44.757215,102.747967,12.921070,0.176578,3.695726,601.668360,559.768293
std,513.540168,31.874280,132.640159,10.778831,0.427408,2.644665,396.407072,433.375027
min,26.000000,12.620000,1.000000,0.000000,0.000000,0.000000,13.000000,13.000000
25%,513.500000,32.100000,14.000000,4.000000,0.000000,2.000000,279.250000,220.000000
50%,779.000000,39.930000,60.000000,11.000000,0.000000,3.000000,517.000000,487.000000
75%,1106.000000,51.562500,144.000000,20.000000,0.000000,4.000000,823.000000,770.000000
max,2568.000000,583.400000,1865.000000,55.000000,3.000000,20.000000,1798.000000,2550.000000

In [320]:
train.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          0
임대보증금       569
임대료         569
지하철         211
버스            4
단지내주차면수       0
등록차량수         0
dtype: int64

In [321]:
train[train.임대보증금.isnull()].공급유형.value_counts()

임대상가    562
공공분양      7
Name: 공급유형, dtype: int64

In [322]:
test.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          2
임대보증금       180
임대료         180
지하철          42
버스            0
단지내주차면수       0
dtype: int64

In [323]:
test[test.임대보증금.isnull()].공급유형.value_counts()

임대상가    177
영구임대      3
Name: 공급유형, dtype: int64

In [324]:
# 임대보증금, 임대료 '-'값 제거
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

In [325]:
# 임대보증금, 임대료 결측치 채우기
train[['임대보증금', '임대료']] = train[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

In [326]:
# 지하철역, 보스정류장 결측치 채우기 
cols = ['지하철', '버스']
train[cols] = train[cols].fillna(0)
test[cols] = test[cols].fillna(0)

In [327]:
train.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철         0
버스          0
단지내주차면수     0
등록차량수       0
dtype: int64

In [328]:
# test 자격유형 확인
test[test.자격유형.isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000.0,37470.0,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0

In [329]:
test[test.단지코드 == 'C2411']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수
193,C2411,962,아파트,경상남도,국민임대,39.43,56,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
194,C2411,962,아파트,경상남도,국민임대,39.72,336,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
195,C2411,962,아파트,경상남도,국민임대,39.82,179,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000.0,37470.0,0.0,2.0,840.0
197,C2411,962,아파트,경상남도,국민임대,51.93,150,25.0,A,21586000.0,171480.0,0.0,2.0,840.0

In [330]:
test.loc[test.단지코드.isin(['C2411']) & test.자격유형.isnull(), '자격유형'] = 'A'

In [331]:
test[test.단지코드=='C2253'].head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0
259,C2253,1161,아파트,강원도,영구임대,31.32,239,0.0,C,3731000.0,83020.0,0.0,2.0,173.0
260,C2253,1161,아파트,강원도,영구임대,31.32,149,0.0,C,3731000.0,83020.0,0.0,2.0,173.0
261,C2253,1161,상가,강원도,임대상가,13.77,1,0.0,D,0.0,0.0,0.0,2.0,173.0
262,C2253,1161,상가,강원도,임대상가,22.89,1,0.0,D,0.0,0.0,0.0,2.0,173.0

In [332]:
test.loc[test.단지코드.isin(['C2253']) & test.자격유형.isnull(), '자격유형'] = 'C'

In [333]:
test.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철         0
버스          0
단지내주차면수     0
dtype: int64

In [334]:
# 중복값 확인하기
train.shape, train.drop_duplicates().shape

((2952, 15), (2632, 15))

In [335]:
test.shape, test.drop_duplicates().shape

((1022, 14), (949, 14))

In [336]:
# 중복값 제거하기
train = train.drop_duplicates()
test = test.drop_duplicates()

In [337]:
# 단지코드별 항목개수 알아보기
train.groupby(['단지코드']).nunique(dropna=False)

,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
단지코드,,,,,,,,,,,,,,
C1000,1,1,1,1,5,6,1,1,3,3,1,1,1,1
C1004,1,2,1,2,15,3,1,2,3,3,1,1,1,1
C1005,1,1,1,1,3,3,1,1,3,3,1,1,1,1
C1013,1,1,1,1,4,5,1,1,3,3,1,1,1,1
C1014,1,1,1,1,6,7,1,1,4,4,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C2663,1,1,1,1,5,6,1,1,4,4,1,1,1,1
C2666,1,1,1,1,4,6,1,1,2,2,1,1,1,1
C2670,1,1,1,1,4,3,1,1,3,3,1,1,1,1
C2680,1,1,1,1,2,3,1,1,2,2,1,1,1,1
C2692,1,1,1,1,3,4,1,1,3,3,1,1,1,1

In [338]:
train.groupby(['단지코드']).nunique(dropna=False).sum(axis=0)

총세대수         423
임대건물구분       456
지역           423
공급유형         488
전용면적        1898
전용면적별세대수    2230
공가수          423
자격유형         510
임대보증금       1277
임대료         1289
지하철          423
버스           423
단지내주차면수      423
등록차량수        423
dtype: int64

In [339]:
# 임대건물구분, 공급유형, 전용면적, 전용면적별세대수, 자격유형, 임대보증금, 임대료는 하나의 단지코드에 대해 둘 이상의 항목이 존재함.
# 변수로 만들기

# 단지코드 별 집계하기

In [340]:
# 하나의 단지코드에 하나의 값만 존재하는 변수들

unique_cols = ['총세대수', '지역', '공가수', 
               '지하철',
               '버스',
               '단지내주차면수', '등록차량수']
train_agg = train.set_index('단지코드')[unique_cols].drop_duplicates()
test_agg = test.set_index('단지코드')[[col for col in unique_cols if col!='등록차량수']].drop_duplicates()

In [341]:
# 하나의 단지코드에 둘 이상의 값이 존재하는 변수들을 확인하기 위해서 함수만들기
def reshape_cat_features(data, cast_col, value_col):
    res = data.drop_duplicates(['단지코드', cast_col]).assign(counter=1).pivot(index='단지코드', columns=cast_col, values=value_col).fillna(0)
    res.columns.name = None
    res = res.rename(columns={col:cast_col+'_'+col for col in res.columns})
    return res

In [342]:
# 1. 임대건물 구분하기
reshape_cat_features(data=train, cast_col='임대건물구분', value_col='counter')

       임대건물구분_상가  임대건물구분_아파트
단지코드
C1000        0.0         1.0
C1004        1.0         1.0
C1005        0.0         1.0
C1013        0.0         1.0
C1014        0.0         1.0
...          ...         ...
C2663        0.0         1.0
C2666        0.0         1.0
C2670        0.0         1.0
C2680        0.0         1.0
C2692        0.0         1.0

[423 rows x 2 columns]

In [343]:
# 2. 공급유형
pd.concat([train.공급유형.value_counts(), test.공급유형.value_counts()], axis=1)

           공급유형   공급유형
국민임대       1730  619.0
임대상가        285  112.0
행복주택        203  121.0
공공임대(10년)   203   34.0
영구임대        149   44.0
공공임대(50년)    31   13.0
공공임대(분납)     12    6.0
장기전세          9    NaN
공공분양          7    NaN
공공임대(5년)      3    NaN

In [344]:
# 공공임대 5년/10년/분양/분납 별로 합치기, 장기전세/국민임대 합치기
train.loc[train.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'
test.loc[test.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'
train.loc[train.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'
test.loc[test.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'

In [345]:
set(train.공급유형)

{'공공임대(50년)', '공공임대(5년/10년/분납/분양)', '국민임대/장기전세', '영구임대', '임대상가', '행복주택'}

In [346]:
reshape_cat_features(data=train, cast_col='공급유형', value_col='counter')

,공급유형_공공임대(50년),공급유형_공공임대(5년/10년/분납/분양),공급유형_국민임대/장기전세,공급유형_영구임대,공급유형_임대상가,공급유형_행복주택
단지코드,,,,,,
C1000,0.0,0.0,1.0,0.0,0.0,0.0
C1004,0.0,0.0,0.0,1.0,1.0,0.0
C1005,0.0,0.0,1.0,0.0,0.0,0.0
C1013,0.0,0.0,1.0,0.0,0.0,0.0
C1014,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...
C2663,0.0,0.0,1.0,0.0,0.0,0.0
C2666,0.0,0.0,1.0,0.0,0.0,0.0
C2670,0.0,0.0,1.0,0.0,0.0,0.0
C2680,0.0,0.0,1.0,0.0,0.0,0.0
C2692,0.0,0.0,1.0,0.0,0.0,0.0

In [347]:
pd.concat([train.자격유형.value_counts(),  test.자격유형.value_counts()], axis=1)
# 'B', 'F','O'는 test셋에 없음을 확인.

   자격유형   자격유형
A  1775  569.0
D   292  114.0
H   154   92.0
J   105   81.0
C    92   35.0
I    49    7.0
E    37   10.0
L    33   12.0
K    33   16.0
N    29   10.0
B    18    NaN
G     9    1.0
F     3    NaN
M     2    2.0
O     1    NaN

In [348]:
train.loc[train.자격유형=='B', ['임대건물구분', '공급유형']].drop_duplicates()

   임대건물구분       공급유형
26    아파트  국민임대/장기전세

국민임대/장기전세

* (일반)해당지역 거주 무주택세대구성원
*(특별/우선)3자녀 이상 가구
*(특별/우선)국가유공자
*(특별/우선)영구임대 입주자
*(특별/우선)비닐간이공작물 거주자
*(특별/우선)신혼부부(혼인기간 5년이내)
*(특별/우선)사업지구 철거민
*(특별/우선)기타 공급대상(고령자, 노부모부양자, 장애인, 파독근로자 등)

In [349]:
# '국민임대/장기전세'의 자격유형 알아보기
train.loc[train.공급유형.isin(['국민임대/장기전세']), '자격유형'].value_counts()
# 제일 많은 A가 (일반) 해당지역 거주 무주택세대구성원일 것으로 추정함.

A    1524
H     154
E      34
B      18
G       9
Name: 자격유형, dtype: int64

영구임대

* (일반)생계급여 또는 의료급여 수급자
*(일반)국가유공자
*(특별/우선)수급자 선정기준의 소득인정액 이하인 국가유공자
*(특별/우선)귀환국군포로
*(특별/우선)수급자 신혼부부

In [350]:
train.loc[train.공급유형.isin(['영구임대']), '자격유형'].value_counts()

C    92
I    49
E     3
F     3
A     2
Name: 자격유형, dtype: int64

공공임대(5년/10년/분납/분양)

* (일반)해당지역 거주무주택세대구성원
*(특별/우선)다자녀 특별
*(특별/우선)신혼부부 특별
*(특별/우선)생애최초 특별
*(특별/우선)노부모부양 특별
*(특별/우선)국가유공자 특별
*(특별/우선)기타 특별(장애인, 철거민 등)
A는 '(일반)해당지역 거주무주택세대구성원'으로 추정됨

In [351]:
train.loc[train.공급유형.isin(['공공임대(5년/10년/분납/분양)']), '자격유형'].value_counts()
# A는 (일반)해당지역 거주 무주택세대구성원으로 추정함

A    218
D      7
Name: 자격유형, dtype: int64

행복주택

대학생(취준생 포함), 사회초년생(제취준생 포함), 신혼부부(예비신혼부부, 대학생, 취준생 신혼부부 포함), 고령자, 주거급여수급자, 산업단지 근로자

In [352]:
train.loc[train.공급유형.isin(['행복주택']), '자격유형'].value_counts()
# 6개 유형일 일치할것으로 추정하고 하나로 매핑하기

J    105
L     33
K     33
N     29
M      2
O      1
Name: 자격유형, dtype: int64

In [353]:
train.loc[train.자격유형.isin(['J', 'L', 'K', 'N', 'M', 'O']), '자격유형'] = '행복주택_공급대상'
test.loc[test.자격유형.isin(['J', 'L', 'K', 'N', 'M', 'O']), '자격유형'] = '행복주택_공급대상'

In [354]:
train.loc[train.자격유형.isin(['A']), '공급유형'].value_counts()

국민임대/장기전세             1524
공공임대(5년/10년/분납/분양)     218
공공임대(50년)               31
영구임대                     2
Name: 공급유형, dtype: int64

In [355]:
train.loc[train.자격유형.isin(['D']), '공급유형'].value_counts()

임대상가                  285
공공임대(5년/10년/분납/분양)      7
Name: 공급유형, dtype: int64

In [356]:
train.loc[train.자격유형.isin(['B']), '공급유형'].value_counts()

국민임대/장기전세    18
Name: 공급유형, dtype: int64

In [357]:
train.loc[train.자격유형.isin(['E']), '공급유형'].value_counts()

국민임대/장기전세    34
영구임대          3
Name: 공급유형, dtype: int64

In [358]:
train.loc[train.자격유형.isin(['G']), '공급유형'].value_counts()

국민임대/장기전세    9
Name: 공급유형, dtype: int64

In [359]:
# 'H', 'B', 'E', 'G' 는 국민임대/장기전세 공급대상(E는 영구임대인 경우도 있긴 하지만 국민임대/장기전세인 경우가 더 많아서 여기에 포함시킴)으로 묶기

train.loc[train.자격유형.isin(['H', 'B', 'E', 'G']), '자격유형'] = '국민임대/장기전세_공급대상'
test.loc[test.자격유형.isin(['H', 'B', 'E', 'G']), '자격유형'] = '국민임대/장기전세_공급대상'

In [360]:
train.loc[train.자격유형.isin(['H']), '공급유형'].value_counts()

Series([], Name: 공급유형, dtype: int64)

In [361]:
train.loc[train.자격유형.isin(['C']), '공급유형'].value_counts()

영구임대    92
Name: 공급유형, dtype: int64

In [362]:
train.loc[train.자격유형.isin(['F']), '공급유형'].value_counts()

영구임대    3
Name: 공급유형, dtype: int64

In [363]:
train.loc[train.자격유형.isin(['I']), '공급유형'].value_counts()

영구임대    49
Name: 공급유형, dtype: int64

In [364]:
# 'C', 'I', 'F'는 영구임대 공급대상으로 묶어보기
train.loc[train.자격유형.isin(['C', 'I', 'F']), '자격유형'] = '영구임대_공급대상'
test.loc[test.자격유형.isin(['C', 'I', 'F']), '자격유형'] = '영구임대_공급대상'

In [365]:
train.loc[train.자격유형.isin(['J', 'K', 'L', 'M', 'N', 'O']), '공급유형'].value_counts()

Series([], Name: 공급유형, dtype: int64)

In [366]:
pd.concat([train.자격유형.value_counts(), test.자격유형.value_counts()], axis=1)

                자격유형  자격유형
A               1775   569
D                292   114
국민임대/장기전세_공급대상   218   103
행복주택_공급대상        203   121
영구임대_공급대상        144    42

In [367]:
train.head(30)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대/장기전세,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대/장기전세,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대/장기전세,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대/장기전세,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대/장기전세,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
5,C2483,900,아파트,경상북도,국민임대/장기전세,51.95,89,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
6,C2483,900,아파트,경상북도,국민임대/장기전세,51.95,135,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
7,C2483,900,아파트,경상북도,국민임대/장기전세,59.88,86,38.0,A,30357000.0,214270.0,0.0,3.0,1425.0,1015.0
8,C2515,545,아파트,경상남도,국민임대/장기전세,33.48,276,17.0,A,9216000.0,82940.0,0.0,3.0,624.0,205.0
9,C2515,545,아파트,경상남도,국민임대/장기전세,39.60,60,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
10,C2515,545,아파트,경상남도,국민임대/장기전세,39.60,20,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
11,C2515,545,아파트,경상남도,국민임대/장기전세,46.90,38,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
12,C2515,545,아파트,경상남도,국민임대/장기전세,46.90,19,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
13,C2515,545,아파트,경상남도,국민임대/장기전세,51.97,106,17.0,A,23042000.0,190090.0,0.0,3.0,624.0,205.0
14,C2515,545,아파트,경상남도,국민임대/장기전세,51.97,26,17.0,A,23042000.0,190090.0,0.0,3.0,624.0,205.0
15,C1407,1216,아파트,대전광역시,국민임대/장기전세,30.95,288,13.0,A,15620000.0,127350.0,1.0,1.0,1285.0,1064.0
16,C1407,1216,아파트,대전광역시,국민임대/장기전세,30.99,68,13.0,A,15620000.0,127350.0,1.0,1.0,1285.0,1064.0
17,C1407,1216,아파트,대전광역시,국민임대/장기전세,30.99,34,13.0,A,15620000.0,127350.0,1.0,1.0,1285.0,1064.0
18,C1407,1216,아파트,대전광역시,국민임대/장기전세,41.11,148,13.0,A,27637000.0,164610.0,1.0,1.0,1285.0,1064.0
19,C1407,1216,아파트,대전광역시,국민임대/장기전세,41.39,74,13.0,A,27637000.0,164610.0,1.0,1.0,1285.0,1064.0
20,C1407,1216,아파트,대전광역시,국민임대/장기전세,41.58,70,13.0,A,27637000.0,164610.0,1.0,1.0,1285.0,1064.0
22,C1407,1216,아파트,대전광역시,국민임대/장기전세,46.36,170,13.0,A,36048000.0,198250.0,1.0,1.0,1285.0,1064.0
24,C1407,1216,아파트,대전광역시,국민임대/장기전세,51.24,62,13.0,A,42056000.0,253520.0,1.0,1.0,1285.0,1064.0
26,C1945,755,아파트,경기도,국민임대/장기전세,39.72,120,6.0,국민임대/장기전세_공급대상,15607000.0,130070.0,1.0,3.0,734.0,730.0
28,C1945,755,아파트,경기도,국민임대/장기전세,51.93,207,6.0,국민임대/장기전세_공급대상,23139000.0,193230.0,1.0,3.0,734.0,730.0
29,C1945,755,아파트,경기도,국민임대/장기전세,51.93,96,6.0,국민임대/장기전세_공급대상,23139000.0,193230.0,1.0,3.0,734.0,730.0
30,C1945,755,아파트,경기도,국민임대/장기전세,59.88,160,6.0,국민임대/장기전세_공급대상,29209000.0,244020.0,1.0,3.0,734.0,730.0
31,C1945,755,아파트,경기도,국민임대/장기전세,59.88,52,6.0,국민임대/장기전세_공급대상,29209000.0,244020.0,1.0,3.0,734.0,730.0
32,C1470,696,아파트,전라북도,국민임대/장기전세,36.55,228,14.0,A,12015000.0,102130.0,0.0,2.0,645.0,553.0
33,C1470,696,아파트,전라북도,국민임대/장기전세,36.55,26,14.0,A,12015000.0,102130.0,0.0,2.0,645.0,553.0

In [368]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철', '버스', '단지내주차면수', '등록차량수'],
      dtype='object')

In [369]:
reshape_cat_features(data=train, cast_col='자격유형', value_col='counter')

       자격유형_A  자격유형_D  자격유형_국민임대/장기전세_공급대상  자격유형_영구임대_공급대상  자격유형_행복주택_공급대상
단지코드
C1000     1.0     0.0                  0.0             0.0             0.0
C1004     0.0     1.0                  0.0             1.0             0.0
C1005     1.0     0.0                  0.0             0.0             0.0
C1013     1.0     0.0                  0.0             0.0             0.0
C1014     1.0     0.0                  0.0             0.0             0.0
...       ...     ...                  ...             ...             ...
C2663     0.0     0.0                  1.0             0.0             0.0
C2666     1.0     0.0                  0.0             0.0             0.0
C2670     1.0     0.0                  0.0             0.0             0.0
C2680     1.0     0.0                  0.0             0.0             0.0
C2692     1.0     0.0                  0.0             0.0             0.0

[423 rows x 5 columns]

In [370]:
X_train = pd.concat([train_agg,
                       reshape_cat_features(data=train, cast_col='임대건물구분', value_col='counter'),
                       reshape_cat_features(data=train, cast_col='공급유형', value_col='counter'),
                       reshape_cat_features(data=train, cast_col='자격유형', value_col='counter')], axis=1)

X_test = pd.concat([test_agg,
                       reshape_cat_features(data=test, cast_col='임대건물구분', value_col='counter'),
                       reshape_cat_features(data=test, cast_col='공급유형', value_col='counter'),
                       reshape_cat_features(data=test, cast_col='자격유형', value_col='counter')], axis=1)

In [371]:
X_train

,총세대수,지역,공가수,지하철,버스,단지내주차면수,등록차량수,임대건물구분_상가,임대건물구분_아파트,공급유형_공공임대(50년),공급유형_공공임대(5년/10년/분납/분양),공급유형_국민임대/장기전세,공급유형_영구임대,공급유형_임대상가,공급유형_행복주택,자격유형_A,자격유형_D,자격유형_국민임대/장기전세_공급대상,자격유형_영구임대_공급대상,자격유형_행복주택_공급대상
단지코드,,,,,,,,,,,,,,,,,,,,
C2483,900,경상북도,38.0,0.0,3.0,1425.0,1015.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
C2515,545,경상남도,17.0,0.0,3.0,624.0,205.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
C1407,1216,대전광역시,13.0,1.0,1.0,1285.0,1064.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
C1945,755,경기도,6.0,1.0,3.0,734.0,730.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
C1470,696,전라북도,14.0,0.0,2.0,645.0,553.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C2586,90,제주특별자치도,7.0,0.0,3.0,66.0,57.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
C2035,492,강원도,24.0,0.0,1.0,521.0,246.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
C2020,40,부산광역시,7.0,1.0,2.0,25.0,19.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
C2437,90,충청북도,12.0,0.0,1.0,30.0,16.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
C2532,239,강원도,7.0,0.0,1.0,166.0,146.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [372]:
X_train.describe()

,총세대수,공가수,지하철,버스,단지내주차면수,등록차량수,임대건물구분_상가,임대건물구분_아파트,공급유형_공공임대(50년),공급유형_공공임대(5년/10년/분납/분양),공급유형_국민임대/장기전세,공급유형_영구임대,공급유형_임대상가,공급유형_행복주택,자격유형_A,자격유형_D,자격유형_국민임대/장기전세_공급대상,자격유형_영구임대_공급대상,자격유형_행복주택_공급대상
count,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000,423.0,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000
mean,722.387707,13.479905,0.120567,3.690307,592.744681,572.335697,0.078014,1.0,0.026005,0.089835,0.742317,0.132388,0.078014,0.073286,0.784870,0.080378,0.115839,0.130024,0.073286
std,405.590274,10.385414,0.379733,2.808429,367.655143,391.032563,0.268511,0.0,0.159338,0.286283,0.437877,0.339313,0.268511,0.260914,0.411399,0.272200,0.320411,0.336728,0.260914
min,26.000000,0.000000,0.000000,0.000000,13.000000,13.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,447.500000,5.000000,0.000000,2.000000,319.500000,295.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,632.000000,13.000000,0.000000,3.000000,523.000000,505.000000,0.000000,1.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,923.000000,20.000000,0.000000,4.000000,803.000000,762.500000,0.000000,1.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2568.000000,55.000000,3.000000,20.000000,1798.000000,2550.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [373]:
# 값이 모두 1인 '아파트'삭제해주기
X_train = X_train.drop(columns = ['임대건물구분_아파트'])
X_test = X_test.drop(columns = ['임대건물구분_아파트'])

In [374]:
%%time
encoding_features = ['지역']
for f in encoding_features:
    mapping = X_train.groupby([f])['등록차량수'].agg(['mean','median','std'])
    mapping_values = []
    for l in X_train[f].values:
        mapping_values.extend([mapping.loc[l].values])
    bincount = pd.DataFrame(mapping_values, columns = [f+'_mean', f+'_median', f+'_std', ], index = X_train.index)
    X_train = pd.concat([X_train,bincount], axis= 1).drop(columns = [f])

    mapping_values = []
    for l in X_test[f].values:
        mapping_values.extend([mapping.loc[l].values])
    bincount = pd.DataFrame(mapping_values, columns = [f+'_mean', f+'_median', f+'_std', ], index = X_test.index)
    X_test = pd.concat([X_test,bincount], axis= 1).drop(columns = [f])

Wall time: 37 ms

In [375]:
scailing_features = ['총세대수',
                     '공가수',
                     '도보 10분거리 내 버스정류장 수',
                     '단지내주차면수',
                     '지역_mean', 
                     '지역_median',
                     '지역_std' 
                    ]

In [376]:
from sklearn.preprocessing import RobustScaler, StandardScaler


# for "5. Modeling with CatBoostRegressor"
from catboost import CatBoostRegressor
# import optuna
# from optuna import Trial
# from optuna.samplers import TPESampler
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split, StratifiedKFold

In [377]:
# 지역스케일링
scaler = RobustScaler()
loc_f = [    '지역_mean', 
             '지역_median',
             '지역_std', ]
X_train.loc[:, loc_f] = scaler.fit_transform(X_train[loc_f])
X_test.loc[:, loc_f] = scaler.transform(X_test[loc_f])

In [378]:
X_train

,총세대수,공가수,지하철,버스,단지내주차면수,등록차량수,임대건물구분_상가,공급유형_공공임대(50년),공급유형_공공임대(5년/10년/분납/분양),공급유형_국민임대/장기전세,...,공급유형_임대상가,공급유형_행복주택,자격유형_A,자격유형_D,자격유형_국민임대/장기전세_공급대상,자격유형_영구임대_공급대상,자격유형_행복주택_공급대상,지역_mean,지역_median,지역_std
단지코드,,,,,,,,,,,,,,,,,,,,,
C2483,900,38.0,0.0,3.0,1425.0,1015.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.249033,0.249501,0.003810
C2515,545,17.0,0.0,3.0,624.0,205.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.308328,0.000000,-0.157823
C1407,1216,13.0,1.0,1.0,1285.0,1064.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.377865,-0.139721,1.642199
C1945,755,6.0,1.0,3.0,734.0,730.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.686481,0.700599,0.552273
C1470,696,14.0,0.0,2.0,645.0,553.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.313618,-0.255489,-0.482600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C2586,90,7.0,0.0,3.0,66.0,57.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,-0.724108,-0.600798,-0.522481
C2035,492,24.0,0.0,1.0,521.0,246.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.669522,-0.694611,-0.746538
C2020,40,7.0,1.0,2.0,25.0,19.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,-0.313519,-0.387226,-0.147219
C2437,90,12.0,0.0,1.0,30.0,16.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,0.241517,-0.447727
C2532,239,7.0,0.0,1.0,166.0,146.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.669522,-0.694611,-0.746538

In [379]:
X_train.columns

Index(['총세대수', '공가수', '지하철', '버스', '단지내주차면수', '등록차량수', '임대건물구분_상가',
       '공급유형_공공임대(50년)', '공급유형_공공임대(5년/10년/분납/분양)', '공급유형_국민임대/장기전세',
       '공급유형_영구임대', '공급유형_임대상가', '공급유형_행복주택', '자격유형_A', '자격유형_D',
       '자격유형_국민임대/장기전세_공급대상', '자격유형_영구임대_공급대상', '자격유형_행복주택_공급대상', '지역_mean',
       '지역_median', '지역_std'],
      dtype='object')

# modeling

In [380]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

y_target=X_train['등록차량수']
X_data=X_train.drop(['등록차량수'],axis=1,inplace=False)

X_train,X_test,y_train,y_test=train_test_split(X_data,y_target,test_size=0.3,random_state=156)

lr=LinearRegression()
lr.fit(X_train,y_train)
y_preds=lr.predict(X_test)
mae=mean_absolute_error(y_test,y_preds)
mse=mean_squared_error(y_test,y_preds)
rmse=np.sqrt(mse)

print('MAE : {0:.3f}, RMSE : {1:.3f}'.format(mae,mse))
print('Variance score : {0:.3f}'.format(r2_score(y_test,y_preds)))

MAE : 134.128, RMSE : 35162.492
Variance score : 0.713

In [381]:
print('절편 : ',lr.intercept_)
print('회귀 계수 : ',np.round(lr.coef_))

절편 :  21.239904398686463
회귀 계수 :  [   0.   -5.  -43.   10.    1. -388.   50.  457.  161.   83. -388.  -13.
 -104.  612.  -96. -116.  -13.    8.   69.  -15.]

In [383]:
coef=pd.Series(data=np.round(lr.coef_,1),index=X_data.columns)
coef.sort_values(ascending=False)

자격유형_D                     611.6
공급유형_공공임대(5년/10년/분납/분양)    456.6
공급유형_국민임대/장기전세             161.4
공급유형_영구임대                   83.0
지역_median                   68.9
공급유형_공공임대(50년)              49.8
버스                           9.8
지역_mean                      7.8
단지내주차면수                      0.6
총세대수                         0.2
공가수                         -4.7
공급유형_행복주택                  -13.1
자격유형_행복주택_공급대상             -13.1
지역_std                     -14.8
지하철                        -43.1
자격유형_국민임대/장기전세_공급대상        -96.5
자격유형_A                    -104.0
자격유형_영구임대_공급대상            -115.6
임대건물구분_상가                 -388.2
공급유형_임대상가                 -388.2
dtype: float64

In [392]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

# log 값 변환 시 언더플로우 영향으로 log() 가 아닌 log1p() 를 이용하여 RMSLE 계산
def rmsle(y, pred):
    log_y = np.log1p(y)
    log_pred = np.log1p(pred)
    squared_error = (log_y - log_pred) ** 2
    rmsle = np.sqrt(np.mean(squared_error))
    return rmsle

# 사이킷런의 mean_square_error() 를 이용하여 RMSE 계산
def rmse(y,pred):
    return np.sqrt(mean_squared_error(y,pred))

# MAE, RMSE, RMSLE 를 모두 계산 
def evaluate_regr(y,pred):
    rmsle_val = rmsle(y,pred)
    rmse_val = rmse(y,pred)
    # MAE 는 scikit learn의 mean_absolute_error() 로 계산
    mae_val = mean_absolute_error(y,pred)
    print('RMSLE: {0:.3f}, RMSE: {1:.3F}, MAE: {2:.3F}'.format(rmsle_val, rmse_val, mae_val))

In [393]:
def get_model_predict(model, X_train, X_test, y_train, y_test, is_expm1=False):
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    if is_expm1 :
        y_test = np.expm1(y_test)
        pred = np.expm1(pred)
    print('###',model.__class__.__name__,'###')
    evaluate_regr(y_test, pred)

In [394]:
from sklearn.linear_model import LinearRegression , Ridge , Lasso

lr_reg = LinearRegression()
ridge_reg = Ridge(alpha=10)
lasso_reg = Lasso(alpha=0.01)

for model in [lr_reg, ridge_reg, lasso_reg]:
    get_model_predict(model,X_train, X_test, y_train, y_test,is_expm1=True)

### LinearRegression ###

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').